{% extends "base.html" %}
{% block body_class %}home-page{% endblock %}
{% block main_class %}app-main--home{% endblock %}
{% block content %}

<section class="pixel-home">
  <div class="pixel-home-content">
    <h1 class="pixel-title">Ready to bake?</h1>

    <div class="pixel-images">
      <img src="{{ url_for('static', filename='images/2.png') }}" alt="Cookie chef cat">
    </div>

    <a href="{{ url_for('learn_step', step=1) }}" class="pixel-btn">
      START
    </a>
  </div>

</section>

{% endblock %}
